dist/
/bocker
bocker.exe
bocker-check.exe
bocker-linux-*
*.test
*.tar.gz

# Flutter desktop GUI
gui/*.class
gui/*.log
gui/*.pyc
gui/*.swp
gui/.DS_Store
gui/.atom/
gui/.build/
gui/.buildlog/
gui/.history/
gui/.svn/
gui/.swiftpm/
gui/migrate_working_dir/
gui/*.iml
gui/*.ipr
gui/*.iws
gui/.idea/
gui/doc/api/
gui/ios/Flutter/.last_build_id
gui/.dart_tool/
gui/.flutter-plugins-dependencies
gui/.pub-cache/
gui/.pub/
gui/build/
gui/coverage/
gui/linux/flutter/ephemeral/
gui/app.*.symbols
gui/app.*.map.json
gui/android/app/debug
gui/android/app/profile
gui/android/app/release
