[Desktop Entry]
Version=1.0
Type=Application
Name=Bocker GUI
Comment=Manage Bocker containers
Exec=/opt/bocker-gui/bocker_gui
TryExec=/opt/bocker-gui/bocker_gui
Path=/opt/bocker-gui
Icon=io.bocker.bocker_gui
Terminal=false
Categories=System;
Keywords=container;incus;bocker;
StartupNotify=true
StartupWMClass=io.bocker.bocker_gui
